
<ion-header class="custom-header">
   <ion-toolbar>
  <div class="ios-header">

    <div class="back-circle" (click)="goHome()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>

    <div class="header-title">
      App Settings
    </div>

  </div>
   </ion-toolbar>
</ion-header>
 <ion-content fullscreen class="signin-bg">
  <!-- Make this div scrollable by filling remaining space -->
  <div class="scrollable-card">

    <h4 class="section-title" style="margin-top: 15px;"> Abacus Trainer App Settings</h4>

    <div class="about-container" [innerHTML]="formattedAboutText"></div>

  </div>

</ion-content>