.signin-bg {
  overflow: hidden;
  --padding-top: 6px;
}

/* Grey curve like Android */
.curve-bg {
  position: fixed;
  top: 200px;
  left: -70px;
  right: -70px;
  height: 100%;
  background: #d9d9d9;
  border-top-left-radius: 260px;
  border-top-right-radius: 260px;
  z-index: 0;
}

/* Header */
.header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff;
 
}

.back-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(6, 4, 4, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
 
}

.header h1 {
  font-size: 26px;
  font-weight: bold;
  
}
.ionic-header {
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-right: 12px;
  
  
  
}

.back-circle{
  width:34px;
  height:34px;
  background:#fff;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
}

.back-circle ion-icon{
  font-size:18px;
  color:#4e148c;
}

/* Title */
.header-title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-left: 16px;
}

/* Card */

.about-container {
  ion-card {
    background: #fff;
    border-radius: 12px;
  }

  h2 {
    color: #4d148c;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1rem;
  }

  h3 {
    color: #4d148c;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 0.8rem;
  }

  p {
    font-size: 1rem;
    color: #000;
    margin: 0.5rem 0 1rem 0;
    line-height: 1.5;
  }
}
.scrollable-card {
  padding: 16px;
  background: #fff;
  border-radius: 12px;
  margin: 14px;
   margin: 6px 10px 10px 10px;  /* top gap increase */
  display: block;
  overflow-y: auto;
  max-height: calc(100vh - 150px); // adjust based on header + other elements
}

.about-container {
  h2, h3 {
    color: #4d148c;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0.5rem 0 1rem 0;
    color: #000;
  }
}

.custom-header ion-toolbar{
  --background:#4e148c;
  --color:#fff;
  --min-height:0px;   /* header height control */
  box-shadow:none;
}

.ios-header{
  display:flex;
  align-items:center;
  padding-left:12px;
  padding-right:12px;

  padding-top:0px;   /* safe-area remove */
  padding-bottom:12px;
}
