<ion-header class="custom-header">
   <ion-toolbar>
  <div class="ios-header">

    <div class="back-circle" (click)="goHome()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>

    <div class="header-title">
        Privacy Policy
    </div>

  </div>
   </ion-toolbar>
</ion-header>
<ion-content fullscreen >
  <!-- Header -->

  <!-- Make this div scrollable by filling remaining space -->
  <div style="margin: 14px;">

    <h4 class="section-title">Abacus Trainer Privacy Policy</h4>

    <div class="about-container" [innerHTML]="formattedAboutText"></div>

  </div>

</ion-content>