<ion-content class="ion-padding">

      <ion-button expand="block" fill="outline" color="primary" (click)="editProfile()">
      Edit Profile
    </ion-button>

    <div class="profile-container">

      <div class="profile-header ion-text-center">
        <ion-avatar class="profile-avatar">
          <img [src]="user.profilePic" (error)="onImageError($event)" />
        </ion-avatar>

        <h2>
          {{ user.firstName }} {{ user.lastName }}
        </h2>
      </div>

      <div class="profile-content">

        <!-- Schedules -->
        <div class="top-card">
          <div class="next-class-text1">Schedules</div>
        </div>

        <div class="subscription-card">
          <div class="right-image">
            <img src="../../../assets/users.png">
          </div>
          <div class="left-content">
            <h3>Enrolled</h3>
            <h4>Batches</h4>
            <ion-button (click)="ViewMoreBatches()">View More Details</ion-button>
          </div>
        </div>

        <!-- Worksheets -->
        <div class="top-card">
          <div class="next-class-text1">Purchased WorkSheet Subscription List</div>
        </div>

        <div class="subscription-card">
          <div class="right-image">
            <img src="../../../assets/book.png">
          </div>
          <div class="left-content">
            <h3>Subscribed</h3>
            <h4>Worksheets</h4>
            <ion-button (click)="ViewMoreDetails()">View More Details</ion-button>
          </div>
        </div>

        <!-- Courses -->
        <div class="top-card">
          <div class="next-class-text1">Courses</div>
        </div>

        <div class="subscription-card">
          <div class="right-image">
            <img src="../../../assets/list.png">
          </div>
          <div class="left-content">
            <h3>Allocated</h3>
            <h4>Courses</h4>
            <ion-button (click)="ViewMoreAllocatedCourses()">View More Details</ion-button>
          </div>
        </div>

      </div>
    </div>
  </ion-content>