<ion-content class="ion-padding">

  <!-- Edit Profile -->
  <ion-button expand="block" fill="outline" color="primary" (click)="editProfile()">
    Edit Profile
  </ion-button>

  <!-- Profile Card -->
  <ion-card class="profile-card">

    <ion-card-header class="ion-text-center">

      <!-- Profile Image -->
      <ion-avatar class="profile-avatar">
         <img 
          [src]="user.profilePic" 
          (error)="onImageError($event)" />
      </ion-avatar>

      <!-- Name -->
      <ion-card-title>
        {{ user.firstName }} {{ user.lastName }}
      </ion-card-title>

      <ion-card-subtitle>
        {{ user.level }}
      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>

      <!-- Progress -->
      <ion-item lines="none">
        <ion-label><h2>Progress Overview</h2></ion-label>
      </ion-item>

      <ion-progress-bar [value]="user.progress/100"></ion-progress-bar>
      <p class="progress-text">{{ user.progress }}%</p>

      <!-- Achievements -->
      <ion-item lines="none">
        <ion-label><h2>Achievements</h2></ion-label>
      </ion-item>

      <ion-chip *ngFor="let ach of user.achievements">
        <ion-label>{{ ach }}</ion-label>
      </ion-chip>

      <!-- Activity -->
      <ion-item lines="none">
        <ion-label><h2>Recent Activity</h2></ion-label>
      </ion-item>

      <ion-list>
        <ion-item *ngFor="let act of user.recentActivity">
          <ion-label>
            <strong>{{ act.label }}:</strong> {{ act.value }}
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>

  </ion-card>

</ion-content>