.ion-padding{
  padding:16px;
   display: flex;
  gap: 10px; /* space between buttons */
}
.ion-padding ion-button {
  flex: 1; /* equal width */
}
.ion-padding ion-button:first-child {
  --background: #3f51b5;
}

.ion-padding ion-button:last-child {
  --background: #ff6b35;
}