<ion-content fullscreen class="signin-bg">

  <div class="curve-bg"></div>

  <!-- Header -->
  <div class="header">
    <h1>{{ 'Forgot Password' }}</h1>
  </div>

  <div class="card">

   


    <!-- SIGN IN FORM -->
    <div  class="form">

     <label>Email</label>
      <div class="input-box">
        <input type="email" placeholder="Email" [(ngModel)]="emailreg" >
        <ion-icon name="mail-outline"></ion-icon>
      </div>
     <p class="error" *ngIf="submitted && !emailreg">
  Email is required
</p>

<p class="error" *ngIf="submitted && emailreg && !isValidEmail(emailreg)">
  Invalid Email
</p>
     
      <ion-button expand="block" class="login-btn" (click)="sendForgotPassword()">Continue</ion-button>

   
    </div>



  </div>

</ion-content>