<ion-content fullscreen class="signin-bg">
 <div class="curve-bg"></div>

  <!-- Header -->
 <div class="ionic-header">

  <!-- Back circle -->
  <div class="back-circle" (click)="goHome()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </div>

  <!-- Title -->
  <div class="header-title">
   Level-{{levelNumber}}
  </div>

</div>
  <!-- Question Step Scroll -->
  <div class="step-container">

    <div class="arrow" (click)="scrollLeft()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </div>

    <div class="step-scroll" #scrollArea >
      <div *ngFor="let q of questions; let i=index" 
           #stepItem
           class="step-item"
           [ngClass]="{'active': currentIndex === i,'answered': isAnswered[i]}"
           (click)="goToQuestion(i)">
        {{i+1}}
      </div>

    </div>

    <div class="arrow" (click)="scrollRight()">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>

  </div>

  <!-- Total Timer -->
  <div class="total-time">
    Total Time : {{ totalTime }}
  </div>

  <!-- Question Card -->
  <div class="question-card">

    <div class="question-header">
      <div>Question {{currentIndex+1}}/20:</div>
      <div>Time Spent: {{questionTime}} sec</div>
    </div>

    <div class="question-box">
        <div *ngFor="let part of splitQuestion(currentQuestion)">
        {{ part }}
  </div>
    </div>

    <div class="answer-section">
      <span>Ans :</span>
      <ion-input
          type="number"
          [(ngModel)]="answer"

          (ionInput)="onAnswerChange($event)"
          [disabled]="!isButtonsEnabled"
          class="answer-input">
        </ion-input>

    </div>

  </div>

  <!-- Buttons -->
   <div class="bottom-buttons">
     <ion-button 
      fill="solid" 
      color="primary" 
      [disabled]="!isButtonsEnabled" 
      (click)="prevQuestion()">
    <ion-icon slot="start" name="play-back-outline"></ion-icon> PREV
  </ion-button>

  <ion-button 
      fill="solid" 
      color="primary" 
      [disabled]="!isButtonsEnabled" 
      (click)="nextQuestion()">
    SAVE & NEXT <ion-icon slot="end" name="play-forward-outline"></ion-icon>
  </ion-button>
  </div>

 <ion-button 
    expand="block" 
    color="success" 
    [disabled]="!isButtonsEnabled" 
    (click)="submitExam()">
  Submit Quiz
</ion-button>

</ion-content>
