<ion-content fullscreen class="signin-bg">

  <div class="curve-bg"></div>

  <!-- Header -->
  <div class="header">
    <h1>{{ isSignIn ? 'Sign In' : 'Sign Up' }}</h1>
  </div>

  <div class="card">

    <!-- Tabs -->
    <div class="tabs">
      <div class="tab" [class.active]="isSignIn" (click)="showSignIn()">Sign In</div>
      <div class="tab" [class.active]="!isSignIn" (click)="showSignUp()">Sign Up</div>
    </div>

    <div class="underline"></div>

    <!-- SIGN IN FORM -->
    <div *ngIf="isSignIn" class="form">

      <label>Email</label>
      <div class="input-box">
        <input type="email" placeholder="Email"  [(ngModel)]="email">
        <ion-icon name="mail-outline"></ion-icon>
      </div>

      <label>Password</label>
      <div class="input-box">
        

      <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password"
          [(ngModel)]="password">

        <ion-icon
          [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
          (click)="togglePassword()">
        </ion-icon>
      </div>

      <p class="forgot">Forgot Password?</p>

      <ion-button expand="block" class="login-btn" (click)="goToLogin()">Login</ion-button>

      <div class="or">
        <span></span>
        <p>OR</p>
        <span></span>
      </div>

      <p class="signup-text">
        Don't have an account?
        <span (click)="showSignUp()">SignUp Here</span>
      </p>

    </div>

    <!-- SIGN UP FORM -->
    <div *ngIf="!isSignIn" class="form">
       <label>First Name</label>
       <div class="input-box">
        <input type="firstName" placeholder="First Name" [(ngModel)]="firstName">        
      </div>
       <label>Last Name</label>
       <div class="input-box">
        <input type="lastName" placeholder="Last Name" [(ngModel)]="lastName">
       
      </div>
          <div class="gender-row">
        <p class="input-box">Gender:</p>

        <label style="margin-top: -14px;">
          <input type="radio" name="gender" value="Male" [(ngModel)]="gender"> Male
        </label>

        <label style="margin-top: -14px;">
          <input type="radio" name="gender" value="Female" [(ngModel)]="gender"> Female
        </label>
      </div>
     <label>Date of Birth</label>
     <div class="input-box">
      <input type="date" id="dob" placeholder="Date of Birth" [(ngModel)]="dob" (click)="openCalendar()">
    </div>
       <label>Mother Tongue</label>
       <div class="input-box">
        <input type="tongue" placeholder="Mother Tongue" [(ngModel)]="motherTongue">
       
      </div>
      <label>Email</label>
      <div class="input-box">
        <input type="email" placeholder="Email" [(ngModel)]="emailreg">
        <ion-icon name="mail-outline"></ion-icon>
      </div>
      <label>Mobile Number</label>
      <div class="input-box">
        <input type="phone" placeholder="Mobile Number" [(ngModel)]="mobile">
       
      </div>

      <ion-button expand="block" class="login-btn" (click)="registerUser()">Register</ion-button>

      <div class="or">
        <span></span>
        <p>OR</p>
        <span></span>
      </div>

      <p class="signup-text">
        Already have an account?
        <span (click)="showSignIn()">SignIn Here</span>
      </p>

    </div>

  </div>

</ion-content>