<ion-header>
  <ion-toolbar style=" --background:#4e148c;">
     <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon style="color: white;" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: white;"> Course Details</ion-title>
     <ion-buttons slot="end">
      <ion-button class="cart-button" >
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        <ion-badge *ngIf="selectedLevelsCount > 0" class="cart-badge">
          {{ selectedLevelsCount }}
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- Duration -->
<h2 class="section-title">Select Duration</h2>

<ion-list>

  <ion-item *ngFor="let d of durations">

    <ion-checkbox
      slot="start"
      [checked]="selectedDurationId === d.durationId"
      (ionChange)="selectDuration(d.durationId)">
    </ion-checkbox>

    {{d.duration}}

  </ion-item>

</ion-list>

<!-- Levels -->
<h2 class="section-title">Select Levels</h2>

<ion-list>

<ion-item *ngFor="let level of levels">

  <ion-checkbox
    slot="start"
    [(ngModel)]="level.selected"
    (ionChange)="calculateTotal()">
  </ion-checkbox>
    <ion-label>
      {{ level.courseLevel }}
    </ion-label>

    <!-- Price right -->
    <ion-note slot="end" *ngIf="level.price">
      ₹ {{ level.price }}
    </ion-note>
</ion-item>

</ion-list>

<!-- Summary -->
<div class="summary">
  <h3>Total for Selected Levels</h3>
   <p *ngIf="totalAmount > 0">₹ {{ totalAmount }}/-</p>

  <!-- Show "Cart is empty" if totalAmount is 0 -->
  <p *ngIf="totalAmount === 0" style="color: gray; font-style: italic;">Cart is empty</p>

  <!-- Show selected levels count only if there are selected levels -->
  <p *ngIf="totalAmount > 0">
    {{ selectedLevelsCount }} level{{ selectedLevelsCount > 1 ? 's' : '' }} selected
  </p>
</div>

<!-- Buttons -->

<div class="buttons">

  <ion-button  (click)="addToCart()">
    Add To Cart
  </ion-button>

  <ion-button (click)="viewCart()">
    View Cart
  </ion-button>

</div>

</ion-content>
