.main-toolbar {
  --background: #4e148c;
  color: white;
}

.toolbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 10px;
}

.toolbar-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.toolbar-text {
  flex: 1;
  margin-left: 10px;
  font-size: 16px;
}

.toolbar-logo {
  width: 40px;
}

.custom-tab {
  --background: #4e148c;
  border-radius: 16px 16px 0 0;
  height: 70px;
}

.center-button {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 50%;
  padding: 10px;
}

.center-button img {
  width: 60px;
}

.menu-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #4e148c;
  color: white;
}

.profile-img {
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.example-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* Footer fixed */
.custom-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

/* Toolbar height */
.custom-footer-toolbar {
  --min-height: 60px;
  height: 60px !important;
}

/* Tab bar height */
.custom-tab-bar {
  --background: #4e148c;
  --color: #ffffff;
  --color-selected: #ffffff;

  --height: 60px;
  height: 60px !important;
  min-height: 60px !important;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Tab button center align */
ion-tab-button {
  height: 50px !important;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  --ripple-color: transparent;
}

/* Icon */
ion-tab-button ion-icon {
  font-size: 22px;
  margin-bottom: 4px;
}

/* Label */
ion-tab-button ion-label {
  font-size: 13px;
  margin: 0;
}

/* Selected highlight */
ion-tab-button.tab-selected {
  background: #852FDD;
  margin: 0 6px;
  border-radius: 14px;
}

/* Center button bigger */
.center-tab ion-icon {
  font-size: 38px;
}



/* Schedule button curve */
/* Allow curve visible */
.custom-tab-bar {
  overflow: visible !important;
}
.schedule-icon {
  width: 60px;
  height: 60px;
}

.play-number-card {
  background: linear-gradient(to right, #ffde59, #ff914d);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  margin-top: 16px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #000;
}

.card-text .line1 {
  font-size: 18px;
  margin-bottom: -5px;
}

.card-text .line2 {
  font-size: 18px;
  margin-left: 15px;
  margin-bottom: -5px;
}

.card-text .line3 {
  font-size: 18px;
  margin-left: 10px;
}

.card-gif {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.card-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 10px;
}

.schedule-card {
  margin: 14px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Header */
.schedule-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.schedule-title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.schedule-icon {
  width: 30px;
  height: 30px;
}

/* Top Card */
.top-card {
  background-color: #D2D1D8; /* same as top_card_view */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding: 10px 16px;
}
.next-class-text {
  font-size: 20px;
  font-weight: bold;
}
.next-class-text1 {
  font-size: 18px;
  font-weight: bold;
}
.download-btn{
--background:#FF6F00;
}

.join-now {
  background-color: #ff6600; /* orange_background */
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 12px;
  border-radius: 10px;
  cursor: pointer;
}

/* Bottom Card */
.bottom-card {
  background: #FFF; /* bottom_card_view */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 8px;
  padding: 8px 16px;
  border: 1px solid #f2e3e3;
}
.subscription-card {
   display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f2e3e3;
  padding: 15px;
  border-radius: 8px;
  background: #fff;
}
.left-content h3{
  margin: 0;
  font-size: 18px;
}

.view-details{
  display: block;
  margin-top: 6px;
  color: blue;
  text-decoration: none;
  font-size: 14px;
}

.right-image img{
  width: 80px;
  height: auto;
}
.next-class-info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
}
.hw-section {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}
.click-hw {
  margin-left: 4px;
  color: #000;
  cursor: pointer;
}
.total-classes {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}
.total-classes span {
  margin-left: 4px;
}
.visualization-card {
  background: linear-gradient(45deg, #39ffb8, #00bfff);
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  margin-top: 18px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.33); 
  cursor: pointer;
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-text {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin: 20px;
}

.card-image {
  width: 80px; 
  height: auto;
  margin: 10px;
  object-fit: contain;
}

