<ion-app>

  <!-- SIDE MENU -->
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar style="--background:#4e148c; color:white; min-height: 60px;">
        <div class="menu-header">
      <img [src]="userImage" class="profile-img">
      <div>
        <h4>Hello, Welcome</h4>
        <p>{{ userName }}</p>
      </div>
      <ion-buttons slot="end">
        <!-- Close button for the menu -->
        <ion-button fill="clear" color="light" (click)="closeMenu()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item button (click)="gotoDashBoard()">Dashboard</ion-item>
        <ion-item button (click)="openWorksheetSubscription()">Work Sheet Subscription</ion-item>
        <!-- <ion-item>Video Tutorials</ion-item> -->
        <ion-item button (click)="goToPlaywithNumbers('play')">Play with Numbers</ion-item>
        <ion-item button (click)="goToPlaywithVisualizationNumbers('play')">Visualization</ion-item>
        <ion-item button (click)="goToSchedules()">Schedules</ion-item>
        <ion-item button (click)="goToAllocatedCourses()">Allocated Courses</ion-item>
        <ion-item button (click)="goToOrders()">Orders</ion-item>
        <ion-item button (click)="goToProgress()">Progress Tracker</ion-item>
        <ion-item button (click)="gotoAppSetting()">App Settings </ion-item>
        <ion-item button (click)="goToAboutUs()">About Us</ion-item>
        <ion-item button (click)="goToRefoundPolicy()">Refund Policy</ion-item>
        <ion-item button (click)="goToPrivacyPolicy()"> Privacy Policy</ion-item>
        <ion-item button (click)="goToHelp()">Help & Support</ion-item>
        <ion-item button (click)="gotoTermsConditions()">Terms & Conditions</ion-item>
        <ion-item buttton (click)="goToProfile()">Profile</ion-item>
        <ion-item button (click)="logout()">Logout</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>


  <!-- MAIN PAGE -->
  <div class="ion-page" id="main-content">

    <ion-header>
      <ion-toolbar class="main-toolbar">
        <ion-buttons style="margin-top: 8px; margin-bottom: 10px;"  slot="start">
          <ion-menu-button  style="color: white;"> </ion-menu-button>
        </ion-buttons>
         <div class="toolbar-content">
          <img [src]="userImage" class="toolbar-profile"> <!-- dynamically set image -->

        <div class="toolbar-text">
          <span>Hello,</span>
          <strong>{{ userName }}</strong>
        </div>

        <img src="assets/abacus_logo.png" class="toolbar-logo" style="margin-right: 15px;">
      </div>
      </ion-toolbar>
    </ion-header>

    <!-- PAGE CONTENT -->
   <ion-content class="ion-padding">

<ng-container *ngIf="activeTab === 'home'">
   
  <div class="schedule-card">
    <!-- Header -->
     
  


    <div class="top-card">
      <div class="next-class-text">Next Class</div>
      <div class="join-now">Join Now</div>
    </div>

    <div class="bottom-card">
      <div class="next-class-info">
        <span id="txt_nxtSchedule">dd/mm/yyyy</span>,
        <span id="txt_nextTime">[]</span>
      </div>

      <div class="hw-section">
        <span>H/W (Last Class)</span> : 
        <span id="txt_clcik_schedule" class="click-hw">Click Here</span>
      </div>

      <div class="total-classes">
        <span>Total Class :</span>
        <span id="txt_Completed">Completed:0</span>
        <span id="txt_upComing">UpComing:0</span>
      </div>
    </div>
  </div>

   <div class="top-card">
      <div class="next-class-text1">Schedules</div>
    
    </div>
      <div class="subscription-card">
  <div class="right-image">
    <img src="../../../assets/users.png" alt="Worksheet">
  </div>
  <div class="left-content">
    <h3>Enrolled</h3>
    <h4>Batches</h4>
    <ion-button class="download-btn" (click)="ViewMoreBatches()">
    View More Details
  </ion-button>
  </div>

  

</div>


   <div class="top-card">
      <div class="next-class-text1">Purchased WorkSheet Subscription List</div>
    
    </div>

   <div class="subscription-card">
  <div class="right-image">
    <img src="../../../assets/book.png" alt="Worksheet">
  </div>
  <div class="left-content">
    <h3>Subscribed</h3>
    <h4>Worksheets</h4>
    <ion-button class="download-btn" (click)="ViewMoreDetails()">
    View More Details
  </ion-button>
  </div>

  

</div>
    <div class="top-card">
      <div class="next-class-text1">Courses</div>
    
    </div>
   <div class="subscription-card">
  <div class="right-image">
    <img src="../../../assets/list.png" alt="Worksheet">
  </div>
  <div class="left-content">
    <h3>Allocated</h3>
    <h4>Courses</h4>
    <ion-button class="download-btn" (click)="ViewMoreAllocatedCourses()">
    View More Details
  </ion-button>
  </div>
  </div>
  

  <!-- Play With Numbers Card -->
  <div class="play-number-card" (click)="goToPlaywithNumbers('play')">
    <div class="card-top">
      <div class="card-text">
        <div>Play</div>
        <div>with</div>
        <div>Numbers</div>
      </div>
      <img src="../../../assets/gif_play.gif" class="card-gif" />
      <img src="../../../assets/numbers.png" class="card-image" />
    </div>
  </div>

  <!-- Visualization Card -->
  <div class="visualization-card" (click)="goToPlaywithVisualizationNumbers('play')">
    <div class="card-top">
      <div class="card-text">Visualization</div>
      <img src="../../../assets/abacus_image.png" class="card-image" />
    </div>
  </div>



</ng-container>

  <app-class *ngIf="activeTab === 'class'"></app-class>
  <app-ai-generation *ngIf="activeTab === 'ai'"></app-ai-generation>
  <app-schedules *ngIf="activeTab === 'schedules'" [studentId]="selectedStudentId"></app-schedules>
  <app-profile *ngIf="activeTab === 'profile'" [studentId]="selectedStudentId"></app-profile>
</ion-content>

    <!-- FOOTER WITH TABS -->
   <ion-footer slot="fixed" class="custom-footer">
 <ion-toolbar class="custom-footer-toolbar">
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="custom-tab-bar">

       <ion-tab-button (click)="selectTab('home')" [class.activated]="activeTab==='home'">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="selectTab('class')" [class.activated]="activeTab==='class'">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Class</ion-label>
      </ion-tab-button>

     <ion-tab-button (click)="selectTab('ai')" [class.activated]="activeTab==='ai'">
      <img src="../../../assets/iconsabacus.png" class="tab-icon" />
    </ion-tab-button>

      <ion-tab-button (click)="selectTab('schedules')" [class.activated]="activeTab==='schedules'">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Schedule</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="selectTab('profile')" [class.activated]="activeTab==='profile'">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
  </ion-toolbar>
</ion-footer>

  </div>

</ion-app>